{% extends "base.html" %}
{% load humanize %}
{% load static %}



{% block body %}
<div style="margin-top: 65px;" class="bg-white container">
	<div class="grid grid-cols-1 gap-4 lg:grid-cols-3 md:grid-cols-2 lg:gap-8">
		<div class="post p-5 lg:p-1 rounded-md">
			<div class="profile-function" style="margin-top: 30px;">
                <ul>
                    <li><a href="{% url 'profile' %}">Edit Profile</a></li>
                    <li><a href="{% url 'my_recipe' %}">My Recipe</a></li>
                    <li class="active"><a href="{% url 'change_password' %}">Change Password</a></li>
                </ul>
			</div>
		</div>
		<div class="lg:col-span-2 p-4 bg-white mt-3" id="posted">
            <form method="post" class="change-password mx-auto">
                {% csrf_token %}
                <div class="mb-5">
                    <input type="password" name="old_password" id="old_password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="Your Old Password..." required />
                </div>
                <div class="mb-5">
                    <input type="password" name="new_password1" id="new_password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="Your New Password..." required />
                </div>
                <div class="mb-5">
                    <input type="password" name="new_password2" id="repeate_password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="Repeate Password..." required />
                </div>
                {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <li class="text-red-700 relative"> {{ message }}</li>
                            {% endif %}
                            {% if message.tags == 'success' %}
                                <a class="text-green-700 relative"> {{ message }}</a>
                            {% endif %}
                        {% endfor %}
                {% endif %}
                <br>
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Change Password</button>
            </form>
		</div>
	</div>
</div>
{% endblock body %}