{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block body %}
<div style="margin-top: 65px;" class="bg-white container">
	<div class="grid grid-cols-1 gap-4 lg:grid-cols-3 md:grid-cols-2 lg:gap-8">
		<div class="post p-5 lg:p-1 rounded-md">
			<div class="profile-function" style="margin-top: 30px;">
                <ul>
                    <li><a href="{% url 'profile' %}">Edit Profile</a></li>
                    <li class="active"><a href="{% url 'my_recipe' %}">My Recipe</a></li>
                    <li><a href="{% url 'change_password' %}">Change Password</a></li>
                </ul>
			</div>
		</div>
		<div class="lg:col-span-2 p-4 bg-white mt-3" id="posted">
            <h2>My Generated Recipe </h2><br>
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                {% if recipes %}
                  {% for recipe in recipes %}
                  {% if forloop.counter0|divisibleby:2 %}
                        <!-- First Column -->
                        <div class="bg-white p-8 rounded-lg shadow-md max-w-md">
                            <!-- User Info with Three-Dot Menu -->
                            <div class="flex items-center justify-between mb-4">
                                <div class="flex items-center space-x-2">
                                    <img src="{{recipe.user.profile_photo.url}}" alt="User Avatar" class="w-8 h-8 rounded-full">
                                    <div>
                                        <p class="text-gray-800 font-semibold"><a href="{% url 'views_profile' recipe.user.id %}">{{recipe.user.full_name}}</a></p>
                                        <p class="text-gray-500 text-sm">{{recipe.create_at|naturaltime}}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Message -->
                            <div class="mb-4">
                                <p class="text-gray-800"><a href="{% url 'recipe_details' recipe.id recipe.slug %}">{{recipe.recipe_name}}</a></p>
                                <p class="text-blue-600">{{recipe.category.category_name}}</p>
                            </div>
                            <!-- Image -->
                            <div class="mb-4">
                                <img src="{{recipe.image.url}}" alt="Post Image" class="w-full h-48 object-cover rounded-md">
                            </div>
                            <!-- Like and Comment Section -->
                            <div class="flex items-center justify-between text-gray-500">
                                <div class="flex items-center space-x-2">
                                    <!-- views -->
                                    <div class="flex items-center justify-between text-gray-500">
                                        <div class="flex items-center space-x-2">
                                        <i class="fa fa-eye"></i><span>{{recipe.views}} Views</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <!-- Second Column -->
                        <div class="bg-white p-8 shadow-md rounded-lg">
                            <!-- User Info with Three-Dot Menu -->
                            <div class="flex items-center justify-between mb-4">
                                <div class="flex items-center space-x-2">
                                    <img src="{{recipe.user.profile_photo.url}}" alt="User Avatar" class="w-8 h-8 rounded-full">
                                    <div>
                                        <p class="text-gray-800 font-semibold"><a href="{% url 'views_profile' recipe.user.id %}">{{recipe.user.full_name}}</a></p>
                                        <p class="text-gray-500 text-sm">{{recipe.create_at|naturaltime}}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Message -->
                            <div class="mb-4">
                                <p class="text-gray-800"><a href="{% url 'recipe_details' recipe.id recipe.slug %}">{{recipe.recipe_name}}</a></p>
                                <p class="text-blue-600">{{recipe.category.category_name}}</p>
                            </div>
                            <!-- Image -->
                            <div class="mb-4">
                                <img src="{{recipe.image.url}}" alt="Post Image" class="w-full h-48 object-cover rounded-md">
                            </div>
                            <!-- Like and Comment Section -->
                            <div class="flex items-center justify-between text-gray-500">
                                <div class="flex items-center space-x-2">
                                    <!-- views -->
                                    <div class="flex items-center justify-between text-gray-500">
                                        <div class="flex items-center space-x-2">
                                        <i class="fa fa-eye"></i><span>{{recipe.views}} Views</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                  {% endfor %}
                {% endif %}
			</div>
            {% if recipes.has_next %}
            <nav style="margin-top: 25px;" class="load-more" aria-label="Page navigation example">
                <a href="?page={{recipes.next_page_number}}" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Load More</a>

            </nav>
        {% endif %}
		</div>
	</div>
</div>
<script>
    function toggleCategories() {
      const categoryList = document.getElementById("category_items");
      categoryList.classList.toggle("hidden");
    }
  </script>
{% endblock body %}