{% extends "base.html" %}
{% load static %}
{% block body %}
  <!-- Sign In Form Start -->
  <div style="margin-top: 130px;" class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700 mx-auto">
    <form method="post" class="space-y-6">
        {% if messages %}
                  {% for message in messages %}
                    {% if message.tags == 'info' %}
                    <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
                        {{message}}
                      </div>
                    {% endif %}
                  {% endfor %}
                {% endif %}
        {% csrf_token %}
        <h5 class="text-xl font-medium text-gray-900 dark:text-white">Reset Your Password</h5>
        <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
            <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="name@company.com" required>
        </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                   <div class="mb-4 bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded">
                        {{message}}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reset Password</button>
        </div>
    </form>
</div>

<!-- Sign in Form End -->
{% endblock body %}