{% extends "base.html" %}
{% load static %}
{% block body %}
   <!-- Header -->
<header class="ex-header bg-gray">
    <div class="container mx-auto px-4 sm:px-8 xl:max-w-6xl xl:px-4">
        <h1 class="xl:ml-24">Privacy Policy</h1>
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Basic -->
<div class="ex-basic-1 py-12">
    <div class="container mx-auto px-4 sm:px-8 xl:max-w-5xl xl:px-12">
        <h2>Privacy Policy for IngredientAI:</h2>

        <h3 class="mt-12 mb-4">1. Information Collection:</h3>
        <p class="mb-12"> We may collect personal information such as names and email addresses voluntarily provided by users for account creation and personalized services.</p>

        <h3 class="mb-4">2. Usage Data:</h3>
        <p class="mb-12">We may gather non-personal information, including but not limited to browser type, device, and usage patterns to enhance user experience and site functionality.</p>

        <h3 class="mb-4">3. Cookies:</h3>
        <p class="mb-12">IngredientAI may use cookies to improve user experience, track preferences, and collect data for analytics. Users can manage cookie preferences through browser settings.</p>

        <h3 class="mb-4">4. Data Security:</h3>
        <p class="mb-12">We implement reasonable measures to safeguard user information. However, no online platform is entirely secure, and users should be aware of potential risks.</p>

        <h3 class="mb-4">5. Third-Party Links:</h3>
        <p class="mb-12">IngredientAI may contain links to third-party websites. We are not responsible for the privacy practices or content of these external sites.</p>

        <h3 class="mb-4">6. Data Sharing:</h3>
        <p class="mb-12">Personal information will not be sold, traded, or shared with third parties without user consent, except when required by law or to protect our rights.</p>

        <h3 class="mb-4">7. User Controls:</h3>
        <p class="mb-12">Users have the right to access, correct, or delete their personal information. They can also opt-out of communications or request account deletion.</p>

        <h3 class="mb-4">8.Changes to Privacy Policy:</h3>
        <p class="mb-12">Any updates to the privacy policy will be posted on this page. Users are encouraged to review the policy periodically.</p>

        <h3 class="mb-4">9. Contact Information:</h3>
        <p class="mb-12">For privacy-related inquiries or concerns, users can contact us at [contact@ingredientai.com].

        By using IngredientAI, users acknowledge and agree to the terms outlined in this privacy policy. Last updated: [Date]..</p>
    </div>
    <!-- end of container -->
</div>
<!-- end of ex-basic-1 -->
<!-- end of basic -->
{% endblock body %}